<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coments</title>
</head>
<body>
    <h1>Comments here</h1>
    <ul>
        <% for(c of comments){ %>
            <li><%= c.comment %> - <b><%= c.username %></b>
            <a href="comments/<%= c.id %>">Details</a>
        </li>
            
        <% } %>
    </ul>
    <a href="comments/new">Add new comment here</a>
</body>
</html>