<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    
    <form action="/comments" method="post">
        <label for="username">Enter username :</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="comment">Enter comment :</label>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
<a href="/comments">Go back to Index Page</a>
    
    
</body>
</html>